@model IEnumerable<Primetime.Models.RentalViewModel>

@{
    ViewBag.Title = "viewOverDue";
}

<h2>Overdue rentals</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rentalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkedOut)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.movieName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rentalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.checkedOut)
        </td>
    </tr>
}

</table>
